<%= form_for(@logo, :html => {:multipart => true}) do |f| %>
    <div class="field">
        <%= f.label :name %>
        <%= f.text_field :name %>
    </div>
    <div class="field">
        <%= f.label :data %>
        <%= f.file_field :data %>
    </div>
    <%= f.collection_select :organization_id, @orgs, :id, :name, include_blank: true %>
    <div class="actions">
        <%= f.submit "Upload" %>
    </div>
<% end %>


<!--("form#sign_in_user").bind("ajax:error", function(data, a, b) {-->
<!--  if (data.type = "ajax:error") {-->
<!--    //$('#loginModal').modal('hide');-->
<!--    //$('#failedSignInModal').modal('show');-->
<!--    // invalid username or password-->
<!--    $('#loginPassword').html("Password: ***");-->
<!--    $('#loginUserPass').addClass('has-error');-->
<!--  }-->
<!--});-->