<!DOCTYPE html>
<html>
<head>
  <title>Neighborhood Allies Mapping Project</title>

<!-- added by Ray -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="https://maps.googleapis.com/maps/api/js?libraries=places&callback=initialize" async defer></script>
  <%= favicon_link_tag 'favicon.ico' %>

</head>
<body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
   <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="http://neighborhoodallies.com/">
    		    <img src="http://apps.pittsburghpa.gov/mayor/NeighborhoodAllies_Logo_Web_Large6-300x95.jpg" id="logo" />
    	    </a>
        </div>
          <ul class="nav navbar-nav" id="location">
            <li><a href="http://neighborhoodallies.com/" id="about-tag"><strong>ABOUT</strong></a></li>
      	    <li><a href="#" id="about-tag"><strong>NEWSLETTER</strong></a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#" id="right-items"><span class="glyphicon glyphicon-edit" ></span> Register An Organization</a></li>
            <li><a href="#" id="right-items"><span class="glyphicon glyphicon-log-in" ></span> LOGIN</a></li>
          </ul>
      </div>
    </nav>
 

<%= yield %>

</body>
</html>
